.table {
  border: var(--table-border, 0);
  margin: var(--table-margin, 0);
  padding: var(--table-padding, 0);
  font-family: var(--table-font-family, 'Open', sans-serif);
  font-size: var(--table-font-size, 12px);
  font-weight: var(--table-font-weight, 400);
  font-style: var(--table-font-style, normal);
  color: var(--table-color,#000000);
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.table_thead_th {
  background-color: var(--table-thead-th-background-color,#0091C1);
  color: var(--table-thead-th-color,#FFFFFF);
  font-weight: var(--table-thead-th-weight, 600);
  padding: var(--table-thead-th-padding,0.5rem);
  text-align: left;
}

.table_thead_th:hover {
  background-color: var(--table-tbody-tr-background-color,#005774);
}

.table_tbody_tr {
  background-color: var(--table-tbody-tr-background-color,#FFFFFF);
  cursor: var(--table-tbody-tr-cursor,pointer);
}

.table_tbody_tr:hover,
.table_tbody_tr:nth-child(2n):hover {
  background-color: var(--table-tbody-tr-background-color,#D3E0F8);
}

.table_tbody_tr:nth-child(2n) {
  background-color: var(--table-tbody-tr-child-even-background-color,#F6F7FA);
}

.table_tbody_tr_selectedRow {
  background-color: var(--table-tbody-tr-selected-background-color,#CCE9F3);
}

.table_tbody_td {
  margin: var(--table-tbody-td-margin, 0);
  padding: var(--table-tbody-td-padding, 0.5rem);
  border-bottom: var(--table-tbody-td-border-bottom, 1px solid #909194);
  text-align: left;
}

.table_pagination {
  padding: var(--table-pagination-padding, 0.5rem);
  font-family: var(--table-pagination-font-family, 'Open', sans-serif);
  font-size: var(--table-pagination-font-size, 12px);
  font-weight: var(--table-pagination-font-weight, 400);
  color: var(--table-pagination-color,#010101);
  text-align: center;
}

.table_pagination > button {
  border: var(--table-pagination-button-border, 1px solid #52626E);
  border-radius: var(--table-pagination-button-border-radius, 2px);
  background-color: var(--table-pagination-button-background-color,#FFFFFF);
  color: var(--table-pagination-button-color,#52626E);
  font-weight: var(--table-pagination-button-font-weight, 600);
  font-size: var(--table-pagination-button-font-size, 12px);
  padding: var(--table-pagination-button-padding, 4px 8px);
}

.table_pagination > button:disabled {
  color: var(--table-pagination-button-disabled-color,#97A1A8);
  background-color: var(--table-pagination-button-disabled-background-color,#EEEEEE);
  border: 0;
}

.table_input_filter {
  border: var(--table-filter-border, 1px solid #909194);
  border-radius: var(--filter-border-radius, 2px);
  font-family: var(--table-filter-font-family, 'Open', sans-serif);
  font-size: var(--table-filter-font-size, 12px);
  font-weight: var(--table-filter-font-weight, 400);
  padding: var(--table-filter-padding, 4px 8px);
}